.both{
    background-color: black;
}

.container{ 
    background-color:rgb(12, 127, 172);
    display:flex;
    flex-direction: row;
    justify-content:left;
    width:16cm ;
}
.D{ 
   color: white;
   padding: 20px;
   font-size: 25px;
}
.footer{
    border: 1px black;
    width:100%;
    height: 5cm;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
    background-color:black;
    
}

.icon{
    margin: 10px;
    color: white;
    fontsize:24px
}
