
/*Home page(1st page) style*/
.nav{
    background-color:rgb(6, 110, 117);
    color:white;
    overflow: hidden;
}

.nav a{
    font-family;
    float:right;
    color:white;
    text-align:right;
    padding:20px;
    text-decoration: none;
}
ul{
    display:flex;
    justify-content:right;
    margin:0px;
    padding:0px;
    list-style:none;
    font-size:30px;
}
ul1{
    float:left;
    display:flex;
    justify-content:left;
    margin:0px;
    padding:20px;
    list-style:none;
    font-size:30px;
}
.st a{
    text-align:right;
    padding:30px;
    margin:0px;
}
.app{
    display: flex;
}
.appind{
    border: 1px solid black;
    border-radius: 7px;
    display: flexbox;
    height: 8cm;
    width: 8cm;
    color:black;
    margin-inline: 3cm;
    font-size: 25px;
    background-color: rgb(4, 43, 43);
    color: bisque;
    text-align: center;
}
.AI{
    border-radius: 7px;
    height: 5cm;
    width: 5cm;
    margin: 10px;
}
#p1{
    position: absolute;
    top:21cm;
    left: 6cm;
}
#p2{
    position: absolute;
    top:23cm;
    left: 8cm;
}
#p3{
    position:absolute;
    top:0.2cm;
    left:1cm;
    color: white;
     font-size:3cm;
}
#p4{
    position: absolute;
    top:3.4cm;
    left:8cm;
    color: white;
     font-size:3cm;
}
#cam{
    height: 9.5cm;
    width: 9.5cm;
    border-radius: 200px;
    position: absolute;
    top:10cm;
    left: 15cm;
}
#mypic{
    height: 1000px; 
    width: 1500px;
}
.atribute{
    font-size: 35px;
    word-spacing: 130px;
    color: white;
}
/*feature page style*/
.contbox1{
    border: 2px solid rgb(32, 121,121);
    box-shadow: 5px 10px 10px black;
    border-radius: 2px solid black;
    padding: 10px;
    position:absolute;
    top:200px;
    border-radius: 5px;
    right:80px;
    display: block;
    height: 5.5cm;
    width: 6.5cm;
    background-color:white;
}
.under1{
background-color: white;
font-size: 20px;
}
.contbox2{
    border: 2px solid rgb(32, 121, 121);
    box-shadow: 5px 10px 10px black;
    border-radius: 2px solid black;
    padding:5px;
    position:absolute;
    top:260px;
    border-radius: 5px;
    right:370px;
    display: block;
    height:5.5cm;
    width:6.5cm;
    background-color:white;
}
.under2{
background-color: white;
font-size: 20px;
}
.contbox3{
    border: 2px solid rgb(32, 121, 121);
    box-shadow: 5px 10px 10px black;
    border-radius: 2px solid black;
    padding:5px;
    position:absolute;
    top:500px;
    border-radius: 5px;
    right:370px;
    display: block;
    height:5.5cm;
    width:6.5cm;
    background-color:white;
}
.under3{
background-color: white;
font-size: 20px;
}
.contbox4{
    border: 2px solid rgb(32, 121, 121);
    box-shadow: 5px 10px 10px black;
    border-radius: 2px solid black;
    padding:5px;
    position:absolute;
    top:450px;
    border-radius: 5px;
    right:80px;
    display: block;
    height:5.5cm;
    width:6.5cm;
    background-color:white;
}
.under4{
background-color: white;
font-size: 20px;
}
.C1{
    color: white;
    position: absolute;
    top:250px;
    left: 80px;
}
img{
    width:39.8cm;
    height:27cm;
}
.fea{
    position: absolute;
    top:2.5cm;
    right: 7.4cm;
    font-size: 40px;
    color:white;
    text-decoration: underline;
}
.H1P{
    position: absolute;
    font-size:25px ;
    top:220px;
    left:30px;
    color: white;
}
#b1{
    height:35px;
    font-size:20px;
    border-radius: 3px; 
    width:90px;
    background-color: rgb(6, 110, 117);
    color:white
}
/*contact style*/
.contbox5{
        
    border-radius: 2px solid black;
    padding: 50px;
    position:absolute;
    top:250px;
    border-radius: 5px;
    right:50px;
    display: block;
    height:8cm;
    width: 8cm;
    background-color:white;
}
.under5{
background-color: white;
font-size: 20px;
}
.C1{
    font-size: 30px;
    color: white;
    position: absolute;
    top:100px;
    left: 950px;
}
#pp{
    font-size: 20px;
}
#b5{
    height:35px;
    font-size:20px ;
    border-radius: 3px; 
    width:90px;
     background-color:  rgb(65, 60, 60);
    color:white
}
/*about style*/
.tree{
    position: absolute;
    top: 8.5cm;
    left: 0cm;
    height: 9cm;
    width: 27cm;
}
/* Slideshow container */
.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  #SI{
    height:13cm;
    width: 4cm;
  }
  .info1{
    color:black;
    text-align:start;
    width: 26cm;
    font-size: 25px;
  }
  .lake{
    position: absolute;
    top: 21.8cm;
    left: 0cm;
    height: 4cm;
    width:40cm;
  }
  .view1{
    text-align: center;
    border: 2px solid black;
  }
  #V1{
    height: 14cm;
    width: 16cm;
    margin: 1cm;
    
  }
  .view3{
    text-align: center;
    border: 2px solid black;
  }
  #v3{
    height: 14cm;
    width: 16cm;
    margin: 1cm;
    
  }
  .view4{
    text-align: center;
    border: 2px solid black;
  }
  #V4{
    height: 14cm;
    width: 16cm;
    margin: 1cm;
    
  }
  .view2{
    text-align: center;
    border: 2px solid black;
  }
  #V2{
    height: 8cm;
    width: 10cm;
    margin: 0.5cm;
    
  }
  /*Footer style*/ 

  .footercontainer{
    height: 6cm;
    width: 100%;
    padding: 70px 30px 20px;
  }
  .socialicons{
    display: flex;
    justify-content: center;
  }
  .socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
  .socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  .socialicons a:hover i{
    color: white;
    transition: 0.5s;
  }
